
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #0077ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}


.hero {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background: #ff5722;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 20px;
}

/* ===== FEATURES ===== */
.features {
    padding: 40px 20px;
    background: #f5f5f5;
}

.features h2 {
    text-align: center;
    margin-bottom: 30px;
}

.feature-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.pricing {
    padding: 40px 20px;
}

.pricing h2 {
    text-align: center;
    margin-bottom: 30px;
}

.price-box {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.plan {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.plan:hover {
    transform: scale(1.05);
}

.price {
    font-size: 24px;
    color: #0077ff;
}

.highlight {
    border: 2px solid #ff5722;
    box-shadow: 0 0 15px rgba(255,87,34,0.4);
}

/* ===== FOOTER ===== */
footer {
    background: #111;
    color: white;
    padding: 30px 20px;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer p {
    font-size: 14px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .feature-box {
        grid-template-columns: 1fr;
    }

    .price-box {
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        grid-template-columns: 1fr;
    }
}
